#ul1 li:first-child{
    background: #ff6600;
}
#ul1 li:last-child{
    background: green;
}
#ul1 li:nth-child(4){
    background: green;
}
#ul1 li:nth-child(odd){
    background: blue;
}
#ul1 li:nth-child(even){
    background: green;
}

#ul2 li:nth-last-child(4){
    background: red;
}
#ul2 li:nth-last-child(odd){
    background: #ffffff;
}
#ul2 li:nth-last-child(even){
    background: red;
}
/*nth-of-type*/
/*nth-last-of-type*/

#ul3 li:nth-child(3n+1){
    background: green;
}
#ul3 li:nth-child(3n+2){
    background: blue;
}
#ul3 li:nth-child(3n+3){
    background: red;
}
/*only-child*/