/* CSS Document */
ul{
	margin: 0;
	position: fixed;
	left: -22px;
	top: 60px;
}
li{
	list-style: none;
}
table.table1{
	width: 900px;
	height: 500px;
	border-collapse: collapse;
}
table.table1 th{
	font-size: 1.2em;
	background-color: cadetblue;
	color: brown;
	border: 1px solid black;
	text-align: center;
}
table.table1 td{
	font-size: 1em;
	color:chocolate;
	border: 1px solid black;
	text-align: left;
}
p.p1{
	color: inherit;
	line-height: 40px;
	font-size: 30px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-family: STXingkai,SimSun;
}
p.p2{
	color: inherit;
	line-height: 20px;
	font-size: 20px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-family: SimSun;
}
p.p3{
	color:chocolate;
	line-height: 20px;
	font-size: 80px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-family: SimSun;
}
span#sp1{
	float: left;
	width: 1em;
	font-size: 200%;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
	line-height: 80%;
}
input.input1[type="text"]{
	background-color: yellow;
	color:burlywood;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
}
input.input1[type="submit"]{
	background-color:aquamarine;
	color:burlywood;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
}
input.input1[type="password"]{
	background-color:yellow;
	color:burlywood;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
}
select.se1{
	width: 498px;
	height: 48px;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
	font-size: 30px;
	text-align: center;
}
a.link1:link{
	display: block;
	font-weight: bold;
	font-size: 30px;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
	color: #ffffff;
	background-color: #98bf21;
	width: 170px;
	height: 60px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}
a.link1:visited{
	display: block;
	font-weight: bold;
	font-size: 30px;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
	color: pink;
	background-color: #009900;
	width: 170px;
	height: 60px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
}
a.link1:hover{
	color: #ff00ff;
	background-color: #66ff66;
	font-size: 40px;
	
}
a.link1:active{
	color: #0000ff;
}


a.link2:link{
	display: block;
	font-weight: bold;
	font-size: 30px;
	font-family: "隶书", "华文行楷", "华文楷体", "华文宋体", "宋体";
	color: #ffffff;
	background-color: #98bf21;
	width: 198px;
	height: 48px;
	text-align: center;
	padding: 0px;
	text-decoration: none;
}
a.link2:hover{
	color: #ff00ff;
	background-color: #66ff66;
	font-size: 40px;
}
a.link2:active{
	color: #0000ff;
}

/*index*/
div#indexbg{
	background-image: url(images/indexbg.jpg);
	background-repeat: no-repeat;
	height: 512px;
	width: 1000px;
	background-size: 100% 100%;
	margin: 0;
	position: fixed;
	left: 0px;
	top: 0px;
}
.font1{
	font-size: 50px;
	font-family: STXingkai,SimSun;
	color: aliceblue;
	text-align: center;
	line-height: 50px;
	letter-spacing: 2px;
	word-spacing: 5px;	
}
/*main*/
div#container{
	width: 1210px;
	height: 970px;
	background-image: url(images/mainbg.jpg);
	background-size: 100% 100%;
	margin: 0;
	left: 0px;
	top: 0px;
}
div#header-left{
	height: 40px; width: 595px;
	border:5px solid #a1a1a1; 
	border-radius:25px;
	text-align: left;
	line-height: 0px;
	float: left;
}
div#header-left-h{
	height: 40px; width: 352px;
	text-align: center;
	line-height: 0px;
	float: left;
}
.font2{
	font-size: 30px;
	font-family: STXingkai,SimSun;
	color: aliceblue;
	text-align: center;
	line-height: 0px;
	letter-spacing: 2px;
	word-spacing: 5px;	
}
div#header-left-logo{
	height: 40px; width: 242px;
	text-align: left;
	line-height: 0px;
	float: left;
}

div#header-right{
	height: 40px; width: 595px;
	border:5px solid #a1a1a1; 
	border-radius:25px;
	text-align: center;
	line-height: 20px;
	float: left;
}
div#menu{
	border:5px solid #a1a1a1; 
	border-radius:25px;
	height: 860px;
	width: 190px;
	float: left;
}
div#content{
	border:5px solid #a1a1a1; 
	border-radius:25px;
	height: 860px;width: 1000px;float: left;
	text-align: center;
}
div#content-up{
	height: 30px;width: 1000px;float: left;
	text-align: center;
}
div#content-up-l{
	height: 30px;width: 500px;float: left;
	text-align: center;
}
div#content-up-r{
	height: 30px;width: 500px;float: left;
	text-align: center;
}
div#content-middle{
	height: 800px;width: 1000px;float: left;
	text-align: center;
}
div#content-down{
	height: 30px;width: 1000px;float: left;
	text-align: center;
}
label.offscreen_noflow{
	color: aliceblue;
}
div#footer{
	width: 1200px;height: 40px;
	border:5px solid #a1a1a1; 
	border-radius:25px;
	text-align: center;float: left;
	color: antiquewhite;
}
h1#main{
	text-shadow: 5px 5px darkblue; 
}
img#main:hover{
	transform: rotate(180deg);
}
/*source*/
div#source{
	width: 1000px;
	height: 700px;
	text-align: center;
}
div.block{
	width: 300px;
	height: 200px;
	border:5px solid #a1a1a1;
	text-align: center;float: left;
	background-color: aquamarine;
	margin: 10px;
	opacity: 0.5;
}
div.block:hover{
	opacity: 1.0;
}
/*code*/
div#code{
	width: 900px;
	height: 600px;
	text-align: center;
	background-color: beige;
}
div#codeh1{
	height: 48px; width: 198px;
	border:1px solid #a1a1a1; 
	text-align: left;
	line-height: 40px;
	float: left;
}
div#codeh2{
	height: 48px; width: 498px;
	border:1px solid #a1a1a1; 
	text-align: center;
	line-height: 0px;
	float: left;
}
div#codeh3{
	height: 48px; width: 198px;
	border:1px solid #a1a1a1; 
	text-align: left;
	line-height: 40px;
	float: left;
}
div#codec{
	height: 500px; width: 900px;
	text-align: center;
	line-height: 0px;
	float: left;
}
div#codef{
	height: 48px; width: 898px;
	border:1px solid #a1a1a1; 
	text-align: center;
	line-height: 0px;
	float: left;
}
/*interduction*/
div#interc{
	width: 1000px;
	height: 800px;
	text-align: center;
	background-color: beige;
}
div#interc-up{
	width: 1000px;
	height: 320px;
	text-align: center;
	background-color: beige;
	float: left;
	padding: 0px;
}
div#interc-down{
	width: 1000px;
	height: 480px;
	text-align: center;
	background-image: url(images/introduction2.jpg);
	background-size: 100% 100%;
	float: left;
}
div.transbox{
	width: 960px;
	height: 440px;
	margin: 20px;
	background-color: aliceblue;
	border: 1px solid black;
	opacity: 0.7;
	float: left;
}


div#linkpage{
	height: 600px;
	width: 1000px;
}

div#linkpage-left{
	height: 600px;
	width: 150px;
	float: left;
}

div#linkpage-right{
	height: 600px;
	width: 800px;
	float: left;
}