*{
	margin: 0;
	padding: 0;
}

div{
	height: 50px;
	width: 100%;
    border: 4px solid black;
}
[id*=section1]{
	background: green;
}
[id*=section2]{
	background: #ff6600;
}
[id*=section1-1]{
    background: goldenrod;
}

[id^=section]{
    background: white;
}

[id$=\-1]{
    background: blue;
}


a[href$=html]:after{
    content: "网页文件";
    color: green;
}
a[href$=jpg]:after{
    color: green;
    content: "图片文件";
}